.products-page
    margin-top: 30px
    max-width: 100%
    .products
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: auto
        // grid-auto-columns: 280px
        gap: 40px 50px
        